/* .navbar-nav .active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
} */

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
    font-style: normal;
  }

#main-nav .navbar-nav li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #E51521;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
    transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

#misivalo{
  background-color: rgb(219, 217, 217);
}

.tituloemp{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3cm;
  color: #833000;
  /* border: 20%;
  margin-top: 20%;
  margin-left: 10%;
  text-align: center; */

}

.empresa{
  /* text-align: justify; */
  /* margin: 1cm; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  /* border: 5%;
  margin-top: 5%;
  margin-left: 2%; */
}

.misvisval{
  color: rgb(50, 147, 226);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-style: inherit;
  border: 5%;
  margin-top: 5%;
  margin-left: 2%; */

}

#main-nav .navbar-nav li:not(.active):before {
    visibility: hidden;
}

#main-nav .navbar-nav li.active::before,
#main-nav .navbar-nav li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#main-nav .navbar-nav li.active a {
    color: #00aeed !important;
    font-size: 15px;
    font-weight: 700;
}

#main-nav .navbar-nav li a {
    color: black !important;
    font-size: 15px;
    font-weight: 700;
}

#main-nav .navbar-nav>li {
    float: left;
    position: relative;
    transition: all 0.15s ease-out;
}

#main-carousel .carousel-inner .carousel-caption{
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #main-carousel .carousel-inner > .carousel-item,
  #main-carousel .carousel-inner > .carousel-item > img{
    height: 600px;
  }

  #main-carousel .carousel-inner > .carousel-item{
    background-size: cover;
    background-position: center center;
  }

  #main-carousel .carousel-inner > .carousel-item.item-1{
    background-image:
      linear-gradient(
        to right,
        rgba(0, 174, 237, 0.7) 50.43%,
        rgba(0, 174, 237, 0) 80.81%,
        transparent 50%
      ),
      url(/public/image/3.PNG);
  }

  #main-carousel .carousel-inner > .carousel-item.item-2{
    background-image:
      linear-gradient(
        to right,
        rgba(0, 174, 237, 0.7) 50.43%,
        rgba(0, 174, 237, 0) 80.81%,
        transparent 50%
      ),
      url(/public/image/4.JPG);
  }

  #main-carousel .carousel-inner > .carousel-item.item-3{
    background-image:
      linear-gradient(
        to right,
        rgba(0, 174, 237, 0.7) 50.43%,
        rgba(0, 174, 237, 0) 80.81%,
        transparent 50%
      ),
      url(/public/image/5.JPG);
  }
  #main-carousel .carousel-inner > .carousel-item.item-4{
    background-image:
      linear-gradient(
        to right,
        rgba(0, 174, 237, 0.7) 50.43%,
        rgba(0, 174, 237, 0) 80.81%,
        transparent 50%
      ),
      url(/public/image/4.JPG);
  }
  #main-carousel .carousel-inner > .carousel-item.item-5{
    background-image:
      linear-gradient(
        to right,
        rgba(0, 174, 237, 0.7) 50.43%,
        rgba(0, 174, 237, 0) 80.81%,
        transparent 50%
      ),
      url(/public/image/3.JPG);
  }

.navbar-brand img {
    width: 25%;
}

.headline-resp{
    font-size: 32px;
  }

.accordion {
    --bs-accordion-bg: #e2e3e5 !important
}

.accordion-button:not(.collapsed){
    /* color: #000000; */
    background-color: #95a5bb !important
}

.titaviso{
  color: #E51521;
  font: bold;
  text-align: center;
  font-family: Arial;
  text-decoration: solid;
  margin: 100px;

}

.titulosaviso{
  color: black;
  font: bolder;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: dashed;
  margin: 20px;
}

.textosaviso{

  font:bold;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: double;
  margin: 20px;
  text-shadow: 10px;
}

.listasaviso{
    list-style-type: circle ;
    margin: 0px;
    color: black;
    text-align: justify;
    font: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
